/* MAIN STRUCTURE */
* {
    border: 0 none transparent;
    line-height: 1;
    margin: 0;
    outline: 0 none transparent;
    padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
}
html, body {
	font-size: 14px;
	color: #000;
	background-color: #fff;
	font-family: 'HelveticaNeueCondensed',Arial,sans-serif;
}
#s4-bodyContainer {
	padding-bottom: 0;
	height: 100%;
}
#wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
}
.row.default, .block.default {
	box-sizing: border-box;
	display: block;
	max-width: 1280px;
}
nav > ul > li, footer ul li {
    display: inline-block;
	/*float: left;*/
}
ul li, ol li {
    display: block;
    list-style: outside none none;
	line-height: 1.2em;
}
#wrapper .hidden {
	display: none !important;
}
a, #wrapper a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
#wrapper p, .block p {
	line-height: 1.2em;
	margin: 5px 0;
	font-size: 15px;
}
.btn {
	background-color: #f6f6f6;
	border: 1px solid #e3e3e3;
	box-sizing: border-box;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	height: 44px;
	line-height: 40px;
	text-align: left;
	text-transform: uppercase;
	text-align: center;
	min-width: 200px;
}
.btn.d24 {
	min-width: 0;
}
.btn > * {
	box-sizing: border-box;
	display: inline-block;
	font-size: 0.857em;
	line-height: 1;
	/*padding: 0 6px;*/
	vertical-align: middle;
	/*width: 100%;*/
}
.btn .icon-arrow {
	width: 100%;
}
.btn-small {
	min-width: 0;
}
.btn + .btn {
	margin-left: 12px;
}
.block-list > .block {
	margin-bottom: 12px;
}
figure {
	overflow: hidden;
	position: relative;
}
figure img {
	display: block;
	height: auto;
	width: 100%;
}
.disabled, .customSelectDisabled,
.no-rgba .disabled label, input[disabled], input[disabled] + label {
	filter: Alpha(opacity = 40);
	-webkit-opacity: 0.4;
	-ms-opacity: 0.4;
	-moz-opacity: 0.4;
	-o-opacity: 0.4;
	opacity: 0.4;
	color: #000 !important;
	/*background-color: inherit !important;*/	
}
.disabled:hover, input[disabled]:hover, select[disabled]:hover, .customSelectDisabled:hover, input[disabled] + label:hover, .disabled * {
	cursor: default !important;
}

/* POSITIONING */
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */
.flt-left {
	float: left;
}
.flt-right {
	float: right;
}
.txt-center, .center {
	text-align: center !important;
}
.txt-left {
	text-align: left !important;
}
.txt-right {
	text-align: right !important;
}
.txt-bold {
	font-weight: bold !important;
}
.inline {
	display: inline-block;
}
.v-center {
	height: 100%;
}
.centered {
	margin: 0 auto;
	text-align: center;
	display: block;
}
.v-center:after {
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
}
.v-center > * {
	display: inline-block;
	vertical-align: middle;
	height: auto !important;
	max-height: 100%;
	line-height: 1em;
	/*max-width: 96%;
	width: auto;*/
	position: relative;
}
.v-center > img {
	width: auto;
}
.v-align-middle {
	display: inline-block;
	vertical-align: middle;
}
.nopadding {
	padding: 0 !important;
}
.nomargin {
	margin: 0 !important;
}
.padding {
	padding: 12px !important;
}
.padding-h {
	padding: 0 12px !important;
}
.padding-v {
	padding: 12px 0 !important;
}

/* TEXT */
#wrapper h1 {
	font-size: 2em;
}
#wrapper h2 {
	font-size: 1.714em;
}
#wrapper h3 {
	font-size: 1.571em;
}
#wrapper h4 {
	font-size: 1.429em;
}
#wrapper h5 {
	font-size: 1.286em;
}
.uppercase {
	text-transform: uppercase !important;
}
.underline {
	text-decoration: underline !important;
}
small, .txt-small {
	font-size: 0.714em !important;
}
big, .txt-big {
	font-size: 1.286em !important;
}
.txt-bigger {
	font-size: 1.714em !important;
}
.txt-italic {
	font-style: italic;
}
.txt-light {
	font-weight: lighter !important;
}
.txt-white, .txt-white > * {
	color: #fff !important;
}
.txt-grey, .txt-grey > * {
	color: #606060 !important;
}
.txt-red, .txt-red > * {
	color: #c3231e !important;
}
.txt-black, .txt-black > * {
	color: #000 !important;
}
.title, .main-title, .sub-title {
	text-transform: uppercase;
}

/* BACKGROUNDS */
.bg-white {
	background-color: #ffffff !important;
}
.bg-black {
	background-color: #000000 !important;
	color: #fff !important;
}
.bg-grey {
	background-color: #eeeeee !important;
}
.bg-grey_light {
	background-color: #f6f6f6 !important;
}
.bg-grey_dark {
	background-color: #e2e1e1 !important;
}
.bg-grey_darkest {
	background-color: #606060 !important;
	color: #fff !important;
}
.bg-red {
	background-color: #c3231e !important;
	color: #fff !important;
}

/* LINES & BORDERS */
.line-bottom {
	margin-bottom: 12px;
	padding-bottom: 12px;
	position: relative;
}
.line-bottom:after {
	background-color: #000;
	bottom: 0;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}
.line-top {
	margin-top: 12px;
	padding-top: 12px;
	position: relative;
}
.line-top:before {
	background-color: #000;
	top: 0;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}
.line-white:after, .line-white:before {
	background-color: #fff !important;
}
.line-grey:after, .line-grey:before {
	background-color: #c8c8c8 !important;
}
.line-red:after, .line-red:before {
	background-color: #c3231e !important;
}
.line-bold:after, .line-bold:before {
	height: 2px;
}
.borders {
	border: 1px solid #c8c8c8;
}
.border-right {
	border-right: 1px solid #c8c8c8;
}
.border-left {
	border-left: 1px solid #c8c8c8;
}
.border-top {
	border-top: 1px solid #c8c8c8;
}
.border-bottom {
	border-bottom: 1px solid #c8c8c8;
}
.box-arrow-up {
	margin-top: 32px;
}
.border-red {
	border-color: #c3231e;
}
.border-black {
	border-color: #c3231e;
}

/* ICONS */
.icon-left:before, .icon-right:after {
	background-image: url("../../../img/sprites/icons.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	content: "";
    display: inline-block;
    height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    vertical-align: middle;
    width: 30px;
}
.icon-arrows:before, .icon-arrows:after {
	background-image: url("../../../img/sprites/arrows.png");
}
.icon-arrows.back:before {
	background-position: -20px -42px;
}
.icon-left, .icon-right {
	position: relative;
}
.icon-left {
	padding-left: 35px !important;
}
.icon-left:before {
	left: 0;
}
.icon-right {
	padding-right: 35px !important;
}
.icon-right:after {
	left: auto !important;
	right: 0;
}
.block-loading {
	background-image: url("../../../img/loader.gif");
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent !important;
	min-height: 50px;
}
.block-loading * {
	display: none !important;
}

/* ACCORDION */
.accordion, .accordion-menu {
	position: relative;
}
.accordion-trigger {
	padding-right: 24px;
	cursor: pointer !important;
}
.accordion-trigger:before {
	background-image: url("../../../img/sprites/arrows.png");
	background-position: -20px 0;
	background-repeat: no-repeat;
	content: "";
	display: inline-block;
	height: 20px;
	margin-top: -10px;
	position: absolute;
	right: 12px;
	top: 50%;
	width: 20px;
}
.nested.accordion-trigger:before, .nopadding.accordion-trigger:before {
	right: 0;
}
.accordion-trigger.selected:before, .accordion.related-info.open > header .accordion-trigger:before {
	background-position: 0 0;
}
.accordion-content {
	display: none;
}

/* CTA NAV */
#cta-nav {
	position: fixed;
	top: 35%;
	z-index: 9;
	right: 0;
}
#cta-nav li {
	background-color: #252b47;
	box-sizing: border-box;
	display: block;
	color: #fff;
	border-bottom: 2px solid #fff;
	transition: all 0.5s;
	position: relative;
	right: -200px;
	width: 250px;
}
#cta-nav li:hover {
	right: 0;
}
#cta-nav li .cta-icon {
	overflow: hidden;
	/*transition: all 0.5s;*/
}
#cta-nav li:hover .cta-icon {
	background-color: #f1f1f1;
	position: absolute;
	right: 0;
}
#cta-nav li:hover .cta-icon img {
	left: -100%;
}
#cta-nav li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	vertical-align: middle;
}
#cta-nav li a > * {
	text-transform: uppercase;
	vertical-align: middle;
	display: inline-block;
}
#cta-nav li a .cta-icon {
	box-sizing: border-box;
	display: inline-block;
	height: 50px;
	text-align: center;
	width: 50px;
}
#cta-nav li a .cta-title {
	text-align: center;
}
#cta-nav li a .cta-title > * {
	padding-left: 12px;
	padding-right: 12px;
}

/* HOME PAGE */
