@font-face {
	font-family: 'HelveticaNeueThinCondensed';
	src: url('typography/helveticaneueltw1g-thcn-webfont.eot');
	src: url('typography/helveticaneueltw1g-thcn-webfont.eot?#iefix') format('embedded-opentype'),
		url('typography/helveticaneueltw1g-thcn-webfont.ttf') format('truetype'),
		url('typography/helveticaneueltw1g-thcn-webfont.svg#HelveticaNeueLTW1G37ThCn') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCondensed';
	src: url('typography/helveticaneueltw1g-cn-webfont.eot');
	src: url('typography/helveticaneueltw1g-cn-webfont.eot?#iefix') format('embedded-opentype'),
		url('typography/helveticaneueltw1g-cn-webfont.ttf') format('truetype'),
		url('typography/helveticaneueltw1g-cn-webfont.svg#HelveticaNeueLTW1G57Condensed') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueBoldCondensed';
	src: url('typography/helveticaneueltw1g-bdcn-webfont.eot');
	src: url('typography/helveticaneueltw1g-bdcn-webfont.eot?#iefix') format('embedded-opentype'),
		url('typography/helveticaneueltw1g-bdcn-webfont.ttf') format('truetype'),
		url('typography/helveticaneueltw1g-bdcn-webfont.svg#HelveticaNeueLTW1G77BdCn') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'kepler_stditalic';
	src: url('typography/keplerstd-italic-webfont.eot');
    src: url('typography/keplerstd-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('typography/keplerstd-italic-webfont.woff2') format('woff2'),
         url('typography/keplerstd-italic-webfont.woff') format('woff'),
         url('typography/keplerstd-italic-webfont.ttf') format('truetype'),
         url('typography/keplerstd-italic-webfont.svg#kepler_stditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'safariFix';
	src: url('typography/safariFix.svg#safariFix') format('svg');
	font-weight: normal;
	font-style: normal;
}